<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<!--定义一个名为STDOUT的appender，并将其关联到ch.qos.logback.core.ConsoleAppender -->
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<!-- encoders 作用是将logger事件转换成字节数组，并将字节数组写入到输出流 -->
		<encoder>
			<!-- 控制台输出编码 -->
			<charset>utf-8</charset>
			<!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度 %msg：日志消息，%n是换行符 -->
			<pattern>%-7relative %d{HH:mm:ss.SSS} [%thread] %logger%n[%level] %msg%n</pattern>
		</encoder>
	</appender>

	<!-- 文件输出日志 (文件大小策略进行文件输出，超过指定大小对文件压缩(.zip)备份) -->
	<appender name="FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<!-- 文件的路径及文件名 -->
		<File>/home/djx314/pro/eclipse/log/cds.log</File>
		<!-- 定义窗口滚动策略 -->
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- 日志文件名匹配式，以此匹配式的最小时间间隔打包单个文件 -->
			<FileNamePattern>/home/djx314/pro/eclipse/log/cds-%d{yyyy-MM-dd}-%i.log</FileNamePattern>
			<!-- 日志文件最大数量 -->
			<MaxHistory>100</MaxHistory>

			<TimeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<!-- 单个日志文件最大大小 -->
				<MaxFileSize>1MB</MaxFileSize>
			</TimeBasedFileNamingAndTriggeringPolicy>

		</rollingPolicy>
		<!-- 格式化输出 -->
		<!-- %d表示日期,格式为：yyyy-MM-dd HH:mm:ss.SSS ;%thread：线程名; %-5level:从左边以5个字符的宽度显示级别; 
			%logger:显示logger名;%msg:日志消息;%n:换行 <layout class="ch.qos.logback.classic.PatternLayout"> 
			<Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</Pattern> 
			</layout> -->
		<encoder>
			<!-- 文件输出编码 -->
			<charset>UTF-8</charset>
			<!-- 文件输出匹配式 -->
			<pattern>%-7relative %d{HH:mm:ss.SSS} [%thread] %logger%n[%level] %msg%n</pattern>
		</encoder>
	</appender>
	<root level="INFO">    <!-- root logger，定义级别为debug -->
		<!-- 所有info级别的日志输出到控制台 -->
		<appender-ref ref="STDOUT" />
		<!-- 所有info级别的日志输出到文件 -->
		<!--<appender-ref ref="FILE" />-->
	</root>
    <logger name="slick.jdbc.JdbcBackend.statement" level="debug" additivity="false">
		<appender-ref ref="STDOUT" />
	</logger>
	<logger name="play" level="info" additivity="false">
		<appender-ref ref="STDOUT" />
	</logger>
	<logger name="application" level="debug" additivity="false">
		<appender-ref ref="STDOUT" />
	</logger>
</configuration>