@(tableName: String)(message: String)
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>首页</title>
    <link href="@routes.Assets.at("stylesheets/default.css")" rel="stylesheet" type="text/css" />

    <script type="text/javascript" src="@routes.IndexController.javascriptRoutes"></script>
    <script type="text/javascript" src="@routes.Assets.at("lib/json2/json2.min.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/lib/sea/sea.js")" id="seajsnode"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/lib/sea/seajs-text.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/lib/sea/seajs-css.js")"></script>
    <link href="@routes.Assets.at("stylesheets/main/index.css")" rel="stylesheet" type="text/css" />
  </head>
  <body class="coffee">
    @message
    @helper.form(action = controllers.routes.DataCreateController.create, args = 'enctype -> "multipart/form-data") {
      表名:<input type="text" name="miaolegemi" value="@tableName" />
      <p>
        <input type="submit" value="提交数据" />
      </p>
    }
  </body>
</html>