@(tableName: String)(data: Seq[models.Ubw])(isSuccessed: Boolean)(values: Seq[play.api.libs.json.JsValue])
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>首页</title>
    <link href="@routes.Assets.at("stylesheets/default.css")" rel="stylesheet" type="text/css" />

    <script type="text/javascript" src="@routes.IndexController.javascriptRoutes"></script>
    <script type="text/javascript" src="@routes.Assets.at("lib/json2/json2.min.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/lib/sea/sea.js")" id="seajsnode"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/lib/sea/seajs-text.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/lib/sea/seajs-css.js")"></script>
    @views.html.common.seaImport()
    <link href="@routes.Assets.at("stylesheets/main/index.css")" rel="stylesheet" type="text/css" />
  </head>
  <body class="coffee">
    创建 @tableName @if(isSuccessed) { 成功 } else { 失败 }
    <table>
      @for(each <- data) {
        <tr>
          <td>@each.id</td>
          <td>@each.data</td>
        </tr>
      }
    </table>
    单一值
    <table>
      @for(value <- values) {
        <tr>
          <td>@value.toString</td>
        </tr>
      }
      </table>
    <a href="@routes.DataCreateController.create">再次新建</a>
  </body>
</html>