<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>首页</title>
    <link href="@routes.Assets.at("stylesheets/default.css")" rel="stylesheet" type="text/css" />

    <script type="text/javascript" src="@routes.IndexController.javascriptRoutes"></script>
    <script type="text/javascript" src="@routes.Assets.at("lib/json2/json2.min.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/lib/sea/sea.js")" id="seajsnode"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/lib/sea/seajs-text.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/lib/sea/seajs-css.js")"></script>
    @views.html.common.seaImport()
    <script type="text/javascript">
    seajs.use("@routes.Assets.at("javascripts/main/index")");
    </script>
    <link href="@routes.Assets.at("stylesheets/main/index.css")" rel="stylesheet" type="text/css" />
  </head>
  <body class="coffee">
    <div class="g-hd">
      <div class="row-a-inner">
        <div class="layout-a">部门：<span data-bind="text: '固有结界'"></span>，姓名：<span data-bind="text: 'xarcher'"></span></div>
      </div>
    </div>
    <div class="g-sd">
      <div class="column-a">
        <div class="box-a">
          <button data-bind="click: tree.store.closeAllTabs">收起所有</button>
          <button data-bind="click: tree.store.openAllTabs">展开所有</button>
            <!-- ko component: { name: 'archer-tree', params: { 'tree': tree } } --><!-- /ko -->
        </div>
      </div>
    </div>
    <div class="g-mn">
      <div class="g-content">
        <div class="tab-title-content">
            <!-- ko if: tabContent.data().length > 0 -->
            <!-- ko foreach: { 'data': tabContent.data, 'as': 'eachTab' } -->
          <div class="title" data-bind="css: { 'currentTab': $parent.tabContent.currentTab() === eachTab }">
            <a href="javascript:void(0);" class="close" data-bind="jqClick: function() { $parent.tabContent.closeTab(eachTab); return true; }">×</a>
            <div class="title-text" data-bind="text: eachTab.name, jqClick: function() { $parent.tabContent.currentTab(eachTab); return true; }"></div>
          </div>
            <!-- /ko -->
            <!-- /ko -->
            <!-- ko if: tabContent.data().length <= 0 -->
          <div class="title">
            <div class="title-text">欢迎</div>
          </div>
            <!-- /ko -->
        </div>
        <div class="tab-content-wrap">
            <!-- ko if: tabContent.data().length > 0 -->
            <!-- ko foreach: { 'data': tabContent.data, 'as': 'eachTab' } -->
          <iframe data-bind="attr: { src: eachTab.url() }, visible: $parent.tabContent.currentTab() === eachTab" frameborder="no" scrolling="no" height="100%"></iframe>
            <!-- /ko -->
            <!-- /ko -->
            <!-- ko if: tabContent.data().length <= 0 -->
          <iframe src="@routes.Assets.at("2333.html")" frameborder="no" scrolling="no" height="100%"></iframe>
            <!-- /ko -->
        </div>
      </div>
    </div>
    <div class="g-ft">
      <div class="row-c-inner">
        <table>
          <tr>
            <td>水山清风制作<br />水山清音</td>
          </tr>
        </table>
      </div>
    </div>
  </body>
</html>