<script type="text/javascript">
  var djxConfig = djxConfig ? djxConfig : {};
  //seajs
  seajs.config({
      "base": "@routes.Assets.at("javascripts/lib/xarcherui")",
      "alias": {
          "jquery": "@routes.Assets.at("javascripts/lib/jquery/jquery.js")",

          "knockout": "@routes.Assets.at("javascripts/lib/knockout/knockout.js")",
          "knockout.mapping": "@routes.Assets.at("javascripts/lib/knockout/knockout.mapping.js")",
          "xarcherKo": "@routes.Assets.at("javascripts/lib/knockout/knockout-custom.js")"
      }
  })
</script>